@model CreateCategoryViewModel

<h1>Add New Category</h1>
<hr />

<form asp-action="Create">

    <div class="row">
           <div class="col-md-6 mb-2">
               <div class="from-group">
                <label class="label-control"> Create Name </label>
                <input required asp-for="Name" class="form-control" />
               </div>
           </div>
    </div>

    <input type="submit" class="btn btn-primary " value="Save" />
    <a asp-controller="Category" asp-action="index" class="btn btn-danger">Back</a>


</form>